<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css" />
    <title>관리페이지 - <%= group%></title>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container-lg">
      <div class="py-5">
        <div class="row">
          <div class="card-group">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">건식</h5>
                <div><%= dry%></div>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">습식</h5>
                <div><%= wet%></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form action="/c/<%= url%>/update">
        <div class="card">
          <div class="card-header text-center">내용 변경하기</div>
          <div class="card-body">
            <div class="mb-1">건식</div>
            <div class="input-group mb-3">
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="document.querySelector('#dry').value = Number(document.querySelector('#dry').value) + 2"
              >
                +2
              </button>
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="document.querySelector('#dry').value = Number(document.querySelector('#dry').value) + 1"
              >
                +1
              </button>
              <input type="number" class="form-control text-center" name="dry" id="dry" value="<%= dry%>" min="0" />
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="document.querySelector('#dry').value = document.querySelector('#dry').value - 1"
              >
                -1
              </button>
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="document.querySelector('#dry').value = document.querySelector('#dry').value - 2"
              >
                -2
              </button>
            </div>
            <div class="mb-1">습식</div>
            <div class="input-group mb-3">
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="document.querySelector('#wet').value =  Number(document.querySelector('#wet').value) + 2"
              >
                +2
              </button>
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="document.querySelector('#wet').value =  Number(document.querySelector('#wet').value) + 1"
              >
                +1
              </button>
              <input type="number" class="form-control text-center" name="wet" id="wet" value="<%= wet%>" min="0" />
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="document.querySelector('#wet').value = document.querySelector('#wet').value - 1"
              >
                -1
              </button>
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="document.querySelector('#wet').value = document.querySelector('#wet').value - 2"
              >
                -2
              </button>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
